/* ----------------------------- */
/* ==Breadcrumb                  */
/* ----------------------------- */
.breadcrumb {
  @extend %unstyled, .flex-container, .main-column;
  padding: $spacer-tiny $zero;
}
.breadcrumb-item:after {
  content: ">";
  padding: $zero $spacer-tiny;
}
