/* ----------------------------- */
/* ==Sélecteur de date           */
/* ----------------------------- */
.flatpickr-calendar {
  background: $color-ghost;
  opacity: $zero;
  display: $display-none;
  text-align: $center;
  visibility: $hidden;
  padding: $zero;
  animation: $none;
  direction: $text-direction-ltr;
  border: $zero;
  font-size: $font-size-small-plus;
  line-height: $font-size-extra-large;
  border-radius: $border-small-plus;
  position: $position-absolute;
  width: $datepicker-width;
  touch-action: $touch-action-manipulation;
  box-shadow: $datepicker-shadow;

  &.open, &.inline {
    opacity: $one;
    max-height: $datepicker-max-height;
    visibility: $visibility-visible;
  }

  &.open {
    display: $display-inline-block;
    z-index: $zindex-popover;
  }

  &.animate.open {
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &.inline {
    display: $display-block;
    position: $position-relative;
    top: $datepicker-top-base;
  }

  &.static {
    position: $position-absolute;
    top: calc($hundred-percent + $datepicker-top-base);
  }

  &.static.open {
    z-index: $zindex-popover;
    display: $display-block;
  }

  &.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
    box-shadow: $none !important;
  }
  &.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
    box-shadow: -2px $zero $zero $datepicker-main-color, 5px $zero $zero $datepicker-main-color;
  }

  .hasWeeks .dayContainer,
  .hasTime .dayContainer {
    border-bottom: $zero;
    border-bottom-right-radius: $zero;
    border-bottom-left-radius: $zero;
  }

  .hasWeeks .dayContainer {
    border-left: $zero;
  }

  &:before, &:after {
    position: $position-absolute;
    display: $display-block;
    pointer-events: $none;
    border: $border-type-base $color-ghost;
    content: $empty-string;
    height: $zero;
    width: $zero;
    left: $datepicker-before-after-position;
  }

  &:before {
    border-width: $border-small-plus;
    margin: $zero -5px;
  }

  &:after {
    border-width: $datepicker-footer-border-width;
    margin: $zero $datepicker-footer-border-margin;
  }

  &.rightMost:before, &.rightMost:after {
    left: $auto;
    right: $datepicker-before-after-position;
  }

  &.arrowTop:before, &.arrowTop:after {
    bottom: $hundred-percent;
  }

  &.arrowTop:before {
    border-bottom-color: $datepicker-border-color;
  }

  &.arrowTop:after {
    border-bottom-color: $datepicker-head-background;
  }

  &.arrowBottom:before, &.arrowBottom:after {
    top: $hundred-percent;
  }

  &.arrowBottom:before {
    border-top-color: $datepicker-border-color;
  }

  &.arrowBottom:after {
    border-top-color: $datepicker-head-background;
  }

  &:focus {
    outline: $zero;
  }
}

.flatpickr-wrapper {
  position: $position-relative;
  display: $display-inline-block;
}
.flatpickr-months {
  display: $display-flex;
  
  .flatpickr-month {
    border-radius: $border-small-plus $border-small-plus $zero $zero;
    background: $datepicker-head-background;
    color: $datepicker-head-color;
    fill: $datepicker-head-color;
    height: $datepicker-head-month-height;
    line-height: $one;
    text-align: $center;
    position: $position-relative;
    user-select: $none;
    overflow: $hidden;
    flex: $one;
  }

  .flatpickr-prev-month, .flatpickr-next-month {
    text-decoration: $none;
    cursor: $cursor-pointer;
    position: $position-absolute;
    top: $zero;
    height: $datepicker-head-month-height;
    padding: 10px;
    z-index: 3;
    color: $datepicker-head-color;
    fill: $datepicker-head-color;
  }

  .flatpickr-prev-month.flatpickr-disabled, .flatpickr-next-month.flatpickr-disabled {
    display: $none;
  }

  .flatpickr-prev-month i, .flatpickr-next-month i {
    position: $position-relative;
  }

  .flatpickr-prev-month.flatpickr-prev-month, .flatpickr-next-month.flatpickr-prev-month {
  /*
        /*rtl:begin:ignore*/
  /*
        */
    left: $zero;
  /*
        /*rtl:end:ignore*/
  /*
        */
  }

  .flatpickr-prev-month.flatpickr-next-month, .flatpickr-next-month.flatpickr-next-month {
  /*
        /*rtl:begin:ignore*/
  /*
        */
    right: $zero;
  /*
        /*rtl:end:ignore*/
  /*
        */
  }

  .flatpickr-prev-month:hover, .flatpickr-next-month:hover {
    color: $datepicker-main-color;
  }

  .flatpickr-prev-month:hover svg, .flatpickr-next-month:hover svg {
    fill: $datepicker-main-color;
  }

  .flatpickr-prev-month svg, .flatpickr-next-month svg {
    width: $font-size-small-plus;
    height: $font-size-small-plus;
  }

  .flatpickr-prev-month svg path, .flatpickr-next-month svg path {
    transition: fill 0.1s;
    fill: $inherit;
  }
}

.numInputWrapper {
  position: $position-relative;
  height: $auto;

  input, span {
    display: $display-inline-block;
  }

  input {
    width: $hundred-percent;
  }

  input::-ms-clear {
    display: $none;
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    margin: $zero;
    -webkit-appearance: $none;
  }

  span {
    position: $position-absolute;
    right: $zero;
    width: $font-size-small-plus;
    padding: $zero 4px $zero 2px;
    height: $fifty-percent;
    line-height: $fifty-percent;
    opacity: $zero;
    cursor: $cursor-pointer;
    border: $border-tiny $border-type-base rgba(72,72,72,0.15);
    box-sizing: $box-sizing-border-box;
  }

  span:hover {
    background: rgba(0,0,0,0.1);
  }

  span:active {
    background: rgba(0,0,0,0.2);
  }

  span:after {
    display: $display-block;
    content: "";
    position: $position-absolute;
  }

  span.arrowUp {
    top: $zero;
    border-bottom: $zero;
  }

  span.arrowUp:after {
    border-left: 4px $border-type-base $color-ghost;
    border-right: 4px $border-type-base $color-ghost;
    border-bottom: 4px $border-type-base rgba(72,72,72,0.6);
    top: 26%;
  }

  span.arrowDown {
    top: $fifty-percent;
  }

  span.arrowDown:after {
    border-left: 4px $border-type-base $color-ghost;
    border-right: 4px $border-type-base $color-ghost;
    border-top: 4px $border-type-base rgba(72,72,72,0.6);
    top: 40%;
  }

  span svg {
    width: $inherit;
    height: $auto;
  }

  span svg path {
    fill: rgba(255,255,255,0.5);
  }

  &:hover {
    background: rgba(0,0,0,0.05);
  }

  &:hover span {
    opacity: 1;
  }
}

.flatpickr-current-month {
  font-size: 135%;
  line-height: $inherit;
  font-weight: $weight-book;
  color: $inherit;
  position: $position-absolute;
  width: 75%;
  left: 12.5%;
  padding: 7.48px $zero $zero $zero;
  line-height: $one;
  height: $datepicker-head-month-height;
  display: $display-inline-block;
  text-align: $center;
  transform: translate3d(0px, 0px, 0px);

  span.cur-month {
    font-family: $inherit;
    font-weight: $weight-bold;
    color: $inherit;
    display: $display-inline-block;
    margin-left: 0.5ch;
    padding: $zero;
  }

  span.cur-month:hover {
    background: rgba(0,0,0,0.05);
  }

  .numInputWrapper {
    width: 6ch;
    width: 7ch\0;
    display: $display-inline-block;
  }

  .numInputWrapper span.arrowUp:after {
    border-bottom-color: $datepicker-main-color;
  }

  .numInputWrapper span.arrowDown:after {
    border-top-color: $datepicker-main-color;
  }

  input.cur-year {
    background: $color-ghost;
    box-sizing: $box-sizing-border-box;
    color: $inherit;
    cursor: $cursor-text;
    padding: $zero $zero $zero 0.5ch;
    margin: $zero;
    display: $display-inline-block;
    font-size: $inherit;
    font-family: $inherit;
    font-weight: $weight-book;
    line-height: $inherit;
    height: $auto;
    border: $zero;
    border-radius: $zero;
    vertical-align: $initial;
    appearance: textfield;
    box-shadow: $none;
  }

  input.cur-year:focus {
    outline: $zero;
  }

  input.cur-year[disabled], input.cur-year[disabled]:hover {
    font-size: $hundred-percent;
    color: rgba(255,255,255,0.5);
    background: $color-ghost;
    pointer-events: $none;
  }

  .flatpickr-monthDropdown-months {
    appearance: menulist;
    background: $datepicker-head-background;
    border: $none;
    border-radius: $zero;
    box-sizing: $box-sizing-border-box;
    box-shadow: $none;
    color: $inherit;
    cursor: $cursor-pointer;
    font-size: $inherit;
    font-family: $inherit;
    font-weight: $weight-book;
    height: $auto;
    line-height: $inherit;
    margin: -1px $zero $zero $zero;
    outline: $none;
    padding: $zero $zero $zero 0.5ch;
    position: $position-relative;
    vertical-align: $initial;
    width: $auto;
  }

  .flatpickr-monthDropdown-months:focus, .flatpickr-monthDropdown-months:active {
    outline: $none;
  }

  .flatpickr-monthDropdown-months:hover {
    background: rgba(0,0,0,0.05);
  }

  .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: $datepicker-head-background;
    outline: $none;
    padding: $zero;
  }
}

.flatpickr-weekdays {
  background: $datepicker-head-background;
  text-align: $center;
  overflow: $hidden;
  width: $hundred-percent;
  display: $display-flex;
  align-items: $center;
  height: $datepicker-head-day-height;

  .flatpickr-weekdaycontainer {
    display: $display-flex;
    flex: $one;
  }
}

span.flatpickr-weekday {
  cursor: $cursor-default;
  font-size: $font-size-small-plus;
  background: $datepicker-head-background;
  color: $datepicker-head-day-color;
  line-height: $one;
  margin: $zero;
  text-align: $center;
  display: $display-block;
  flex: $one;
  font-weight: $weight-bold;
}
.dayContainer,
.flatpickr-weeks {
  padding: $border-tiny $zero $zero $zero;
}
.flatpickr-days {
  position: $position-relative;
  overflow: $hidden;
  display: $display-flex;
  align-items: flex-start;
  width: $datepicker-width;
  border-left: $border-tiny $border-type-base $datepicker-border-color;
  border-right: $border-tiny $border-type-base $datepicker-border-color;

  &:focus {
    outline: $zero;
  }
}
.dayContainer {
  padding: $zero;
  outline: $zero;
  text-align: $text-align-default;
  width: $datepicker-width;
  min-width: $datepicker-width;
  max-width: $datepicker-width;
  box-sizing: $box-sizing-border-box;
  display: $display-inline-block;
  display: $display-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translate3d(0px, 0px, 0px);
  opacity: $one;

  & + .dayContainer {
    box-shadow: -1px $zero $zero $datepicker-shadow-color;
  }
}

.flatpickr-day {
  background: $none;
  border: $border-tiny $border-type-base $color-ghost;
  border-radius: 150px;
  color: #484848;
  cursor: $cursor-pointer;
  font-weight: $weight-regular;
  width: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: $zero;
  display: $display-inline-block;
  position: $position-relative;
  justify-content: $center;
  text-align: $center;

  &.inRange,
  &.prevMonthDay.inRange,
  &.nextMonthDay.inRange,
  &.today.inRange,
  &.prevMonthDay.today.inRange,
  &.nextMonthDay.today.inRange,
  &:hover,
  &.prevMonthDay:hover,
  &.nextMonthDay:hover,
  &:focus,
  &.prevMonthDay:focus,
  &.nextMonthDay:focus {
    cursor: $cursor-pointer;
    outline: $zero;
    background: $datepicker-main-color;
    border-color: $datepicker-main-color;
  }

  &.today {
    border-color: #bbb;
  }

  &.today:hover,
  &.today:focus {
    border-color: #bbb;
    background: #bbb;
    color: $datepicker-main-color;
  }

  &.selected,
  &.startRange,
  &.endRange,
  &.selected.inRange,
  &.startRange.inRange,
  &.endRange.inRange,
  &.selected:focus,
  &.startRange:focus,
  &.endRange:focus,
  &.selected:hover,
  &.startRange:hover,
  &.endRange:hover,
  &.selected.prevMonthDay,
  &.startRange.prevMonthDay,
  &.endRange.prevMonthDay,
  &.selected.nextMonthDay,
  &.startRange.nextMonthDay,
  &.endRange.nextMonthDay {
    background: $datepicker-head-background;
    box-shadow: $none;
    color: $datepicker-main-color;
    border-color: $datepicker-head-background;
  }

  &.selected.startRange,
  &.startRange.startRange,
  &.endRange.startRange {
    border-radius: 50px $zero $zero 50px;
  }

  &.selected.endRange,
  &.startRange.endRange,
  &.endRange.endRange {
    border-radius: $zero 50px 50px $zero;
  }
  &.selected.startRange + .endRange:not(:nth-child(7n+1)),
  &.startRange.startRange + .endRange:not(:nth-child(7n+1)),
  &.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    box-shadow: -10px $zero $zero $datepicker-head-background;
  }
  &.selected.startRange.endRange,
  &.startRange.startRange.endRange,
  &.endRange.startRange.endRange {
    border-radius: 50px;
  }
  &.inRange {
    border-radius: $zero;
    box-shadow: -5px $zero $zero $datepicker-main-color, 5px $zero $zero $datepicker-main-color;
  }
  &.flatpickr-disabled,
  &.flatpickr-disabled:hover,
  &.prevMonthDay,
  &.nextMonthDay,
  &.notAllowed,
  &.notAllowed.prevMonthDay,
  &.notAllowed.nextMonthDay {
    color: rgba(72,72,72,0.3);
    background: $color-ghost;
    border-color: $color-ghost;
    cursor: $cursor-default;
  }
  &.flatpickr-disabled,
  &.flatpickr-disabled:hover {
    cursor: $cursor-not-allowed;
    color: rgba(72,72,72,0.1);
  }
  &.week.selected {
    border-radius: $zero;
    box-shadow: -5px $zero $zero $datepicker-head-background, 5px $zero $zero $datepicker-head-background;
  }
  &.hidden {
    visibility: $hidden;
  }
  .rangeMode & {
    margin-top: 1px;
  }
}

.flatpickr-weekwrapper {
  float: left;

  & .flatpickr-weeks {
    padding: $zero 12px;
    border-left: $border-tiny $border-type-base $datepicker-border-color;
  }
  & .flatpickr-weekday {
    float: $none;
    width: $hundred-percent;
    line-height: $datepicker-head-day-height;
  }
  & span.flatpickr-day,
  & span.flatpickr-day:hover {
    display: $display-block;
    width: $hundred-percent;
    max-width: $none;
    color: rgba(72,72,72,0.3);
    background: $color-ghost;
    cursor: $cursor-default;
    border: $none;
  }
}

.flatpickr-innerContainer {
  display: $display-block;
  display: $display-flex;
  box-sizing: $box-sizing-border-box;
  overflow: $hidden;
  background: $datepicker-main-color;
  border-bottom: $border-tiny $border-type-base $datepicker-border-color;
}
.flatpickr-rContainer {
  display: $display-inline-block;
  padding: $zero;
  box-sizing: $box-sizing-border-box;
}

.flatpickr-input[readonly] {
  cursor: $cursor-pointer;
}
@-webkit-keyframes fpFadeInDown {
  from {
    opacity: $zero;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: $one;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fpFadeInDown {
  from {
    opacity: $zero;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: $one;
    transform: translate3d(0, 0, 0);
  }
}
