/* -------------------------------------------------------------- */
/* ==Champ de sélection de formulaire avec choix d'images         */
/* -------------------------------------------------------------- */
.visual-icon-selected {
  position: $position-absolute;
  top: $spacer-tiny-less;
  color: $white;
  font-size: $font-size-2x;
  display: $display-none;
  left: $spacer-tiny-less;
}
.visual-label {
  position: $position-relative;
}
