/* ----------------------------- */
/* ==Menu                  */
/* ----------------------------- */
.nav-button {
    position: absolute;
    right: 25px;
    top: 28px
}

.main-menu {
  @include respond-to("medium-up") {
    background: $menu-background-base;
  }
}

.main-menu-nav {
  @extend .flex-container;
  @include respond-to("medium-up") {
    flex-direction: row;
  }
}

.main-menu-item {
  position: relative;
  display: block;
  text-align: left;
  @include respond-to("medium-up") {
    display: inline-block;
    text-align: center;
  }
}

.main-menu-item > a {
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding: 10px 16px;
  background: $menu-background-base;
  text-decoration: none;
  text-transform: uppercase;
  color: $menu-color-base;
  @include respond-to("medium-up") {
    border: none;
    background: none;
    text-align: center;
    &:hover {
      background: $menu-hover-background-base;
      color: $menu-hover-color-base;
    }
  }
}

/* Gérer les sous-menu */
.main-menu-sub-nav {
  @include respond-to("medium-up") {
    display: none;
    max-width: 320px;
  }
}

.main-menu-item:hover .main-menu-sub-nav {
  @include respond-to("medium-up") {
    position: absolute;
    display: block;
  }
}


/*header nav.main-menu ul li ul a {
    background: #048068
}

header nav.main-menu ul li ul a ul a {
    background: #048068
}

header nav.main-menu.is-opened {
    display: block;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 2;
}

@media (min-width:768px) {
    header .primary-nav{
      background: $menu-background-base;
    }
    header nav.main-menu {
        display: block;
        margin: auto;
        width: auto
    }
    header nav.main-menu > ul {
        width: auto;
        text-align: left;
    }
    header nav.main-menu > ul > li {
        width: auto;
        display: inline-block;
        position: relative
    }
    header nav.main-menu > ul > li > a {
        background: none;
        border:none;
        color:$menu-color-base;
    }
    header nav.main-menu > ul > li:hover > ul {
        display: block;
        position: absolute;
        z-index: 1;
        border:none;
        background: $menu-background-base;
        border-top: 0
    }
    header nav.main-menu > ul > li:hover > ul > li{
      display: block;
    }
    header nav.main-menu > ul > li:hover > ul a {
        width: 100%;
        color: $menu-color-base;
        background: $menu-background-base;
        text-transform: none;
        text-align: left;
    }
    header nav.main-menu > ul > li:hover > ul a:hover {
        color: $menu-hover-color-base;
        background:$menu-hover-background-base;

    }
    header nav.main-menu > ul > li:hover > ul.thirdLevel {
        top: 0;
        left: 100%
    }
    header nav.main-menu > ul > li > a {
        color: $menu-color-base;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center
    }
    header nav.main-menu > ul > li > a:hover {
        color: $menu-hover-color-base;
        background:$menu-hover-background-base;
    }
    header nav.main-menu > ul > li.active > a {
        color: $menu-hover-color-base;
    }
    header nav.main-menu > ul ul {
        display: none
    }
}*/
