/* ----------------------------- */
/* ==Breadcrumb                  */
/* ----------------------------- */
.breadcrumb {
  @extend .unstyled, .flex-container, .main-column;
  padding: $spacer-tiny 0;
}
.breadcrumb-item:after {
  content: ">";
  padding-left: 6px;
  padding-right: 6px;
}
