/* ----------------------------- */
/* ==Rating.                     */
/* ----------------------------- */

.ui-stars-star {
  width: $star-default-size;
  height: $star-default-size;
  font-size: $zero;
}
.ui-stars-star a {
  margin-left: $zero;
}
.ui-stars-star a:before {
  content: $star-content;
  font-size: $font-size-base;
  color: $gray-200;
}
.ui-stars-star-on a:before, .ui-stars-star-hover a:before {
  color: $color-primary;
}
.nb_ratings { 
  color: $gray-700; 
}
.rating-value { 
  margin-left: $star-default-size;
}