/* ----------------------------- */
/* ==Menu                        */
/* ----------------------------- */
.nav-button
{
    position: $position-absolute;
    top: $nav-button-top;
    right: $nav-button-right;
    display: $display-block;

    @include respond-to('medium-up')
    {
      display: $display-none;
    }
}

.main-menu
{
    @include respond-to('medium')
    {
      position: $position-absolute;
      z-index: $zindex-navigation;
      width: $hundred-percent;
      transform: $menu-transform-from;
      transition: $menu-transforma-animation;

      &.is-opened
      {
        transform: $menu-transform-to;
      }
    }

    @include respond-to('medium-up')
    {
      display: $display-block;

      background: $menu-background-base;
    }
}

.main-menu-link
{
    display: $display-inline-block;
    width: $hundred-percent;
    padding: $menu-padding-base;
    text-decoration: $none;
    color: $menu-color-base;
    border-bottom: $menu-border-base;
    background: $menu-background-base;

    @include respond-to('medium-up')
    {
        text-align: $menu-text-align;
        border: $none;
        background: $none;
    }

    &:hover
    {
        text-decoration: $none;
        color: $menu-hover-color-base;
        background: $menu-hover-background-base;
    }
}

.main-menu-sub-link
{
    background: $menu-sublink-background;

    @extend .main-menu-link;
    @include respond-to('medium-up')
    {
        border-bottom: $menu-border-base;
        background: $menu-background-base;
    }
}

.main-menu-list
{
    padding: $zero;
}

.main-menu-nav
{
    @extend .flex-column;
    @include respond-to('medium-up')
    {
        flex-direction: $flex-direction-row;
    }
}

.main-menu-item
{
    position: $position-relative;
    display: $display-block;
    text-align: $text-align-default;

    @include respond-to('medium-up')
    {
        display: $display-inline-block;
        text-align: $menu-text-align;
    }
}

.main-menu-sub-nav
{
    display: $display-block;

    @include respond-to('medium-up')
    {
        display: $display-none;
    }
}

.main-menu-item:hover .main-menu-sub-nav
{
    @include respond-to('medium-up')
    {
        position: $position-absolute;
        display: $display-block;
    }
}