/* ----------------------------- */
/* ==Page                        */
/* ----------------------------- */
.main-column {
  max-width: $extra-large;
  margin: $zero $auto;
  padding: $main-column-padding;

  @include respond-to('extra-large-up')
  {
    padding: $main-column-extra-large-padding;
  }
}
